body {
  margin: 0;
}

.custom-container {
  max-width: 1440px;
  margin-inline: auto;
  padding-inline: clamp(16px, 4vw, 48px);
}

.infosection {
  background-image: url("./assets/images/swamiji-removebg-preview.png");
  height: 55vh;
  margin-top: 10px;
  object-fit: contain;
  background-repeat: no-repeat;
  background-color: #c28251;
  background-size: fill;
  background-position: right;
}

li {
  cursor: pointer;
}
.infotext {
  background: linear-gradient(to right, hsl(27, 72%, 90%, 0.3), #c28251);
  padding: 20px;
}

@media only screen and (max-width: 768px) {
  .infosection {
    background-image: url("./assets/images/swamiji-removebg-preview.png");
    height: 65vh;
    margin-top: 10px;
    object-fit: contain;
  }
  .infotext {
    padding-top: 18vh;
    gap: 10px;
  }
  .teamcard {
    width: 350px !important;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .teamcard {
    width: 300px !important;
  }
}
.header {
  background-color: #e6813d;
  padding: 20px;
  text-align: center;
}

.content {
  padding: 20px;
}

.leftcolumn {
  float: left;
  width: 55%;
}

.rightcolumn {
  float: right;
  width: 35%;
  padding-left: 20px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 800px) {
  .leftcolumn,
  .rightcolumn {
    width: 100%;
    padding: 0;
  }
}

#contact-form {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.teamcard {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-wrap: nowrap;
  height: 200px;
  width: 400px;
  border-left: 5px solid #e6813d;
}
label {
  display: block;
  margin-bottom: 10px;
}

input[type="text"],
input[type="tel"],
input[type="email"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
}

textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  height: 100px;
}

input[type="submit"] {
  background-color: #e6813d;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: white;
  color: #e6813d;
  border: 1px solid #e6813d;
}

.teamcard span:nth-child(1) {
  font-size: 22px;
  font-weight: 600;
}

.teamcard span:nth-child(2) {
  font-size: 18px;
  font-weight: 500;
  color: #e6813d;
  font-style: italic;
}

.teamcard p {
  font-size: 14px;
}

.marquee {
  --duration: 60s;
  --gap: 2rem;

  display: flex;
  overflow: hidden;
  user-select: none;
  gap: var(--gap);
  transform: skewY(-3deg);
}

.marquee__group {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: var(--gap);
  min-width: 100%;
  animation: scroll var(--duration) linear infinite;
}

@media (prefers-reduced-motion: reduce) {
  .marquee__group {
    animation-play-state: paused;
  }
}

.marquee__group img {
  max-width: clamp(10rem, 1rem + 28vmin, 20rem);
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 1rem;
}

.gallery {
  --space: 2rem;
  display: grid;
  align-content: center;
  overflow: hidden;
  gap: var(--space);
  width: 100%;
  font-size: 1.5rem;
  line-height: 1.5;
}
.marquee--borders {
  border-block: 3px solid #e6813d;
  padding-block: 0.75rem;
}

.marquee--reverse .marquee__group {
  animation-direction: reverse;
  animation-delay: calc(var(--duration) / -2);
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(-100% - var(--gap)));
  }
}
